#include "Shared.xcconfig"

PRODUCT_NAME = RecallCore
PRODUCT_MODULE_NAME = RecallCore
WRAPPER_NAME = RecallCore.framework
EXECUTABLE_NAME = RecallCore
PRODUCT_BUNDLE_IDENTIFIER = com.jwu0216.recall.core
GENERATE_INFOPLIST_FILE = YES
MARKETING_VERSION = 0.1.0
CURRENT_PROJECT_VERSION = 1
DEFINES_MODULE = YES
SKIP_INSTALL = YES
DYLIB_INSTALL_NAME_BASE = @rpath
